.login{
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
  
}
#menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#menu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkseagreen;
    color: black;
    border-radius: 10px 10px 10px 10px;
    height: 300px;
    width: 430px;

}

.formularioRegistro input{
    background-color: white;
}


#menu button{
    padding: 10px;
    width: 400px;
    height: 50px;
  
}


#menu .btnLogin:hover{
    background-color: teal;
    color: white;
    transition: 1s;
}